@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-primary: linear-gradient(
    90deg,
    rgba(141, 198, 255, 0.61) 0%,
    rgba(173, 101, 255, 0.61) 100%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);
  --font-mont-alt: var(--font-mont-alt);
  --font-bricolage: var(--font-bricolage);
  --background-image-gradient-primary: var(--gradient-primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
